<html>
    <head>
        <link href="assets/style.css" type="style/css" rel="stylesheet">
    </head>
    <body>
        <!-- <h1>Person: <%= ID %>   </h1> -->
        <h2>Person: <%= ID %></h2>
        <h4>Query Strng Value: <%= Qstr %> </h4>

    </body>
</html>